body,html{

    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p{
    font-family: 'Lato', sans-serif;
}

/*********** home *********/
.jumbotron{
    text-align: center;
    min-height: 26em;
    background-color: black;
    /**background: url("/resources/images/home-banner.jpg") no-repeat center;**/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;; 
}

.jumbotron p{
    color: #ffffff;
}

.jumbotron h1{
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.138888889;
    color: #ffffff;
}


#home p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#home .card{
    margin-top: -0.1em;
    border-top: none;
    min-height: 30em;
}

#home .card>img{
    height: 18em;
}

#home .support-locals-banner {
    min-height: 23em;
    background: url("/resources/images/locals.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#home .black-layer {
    background-color: rgba(13, 13, 13, 0.5);
    text-align: center;
    min-height: 23em;
    padding-top: 2.4em;
    padding-bottom: 2.4em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif !important;
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
    font-weight: 700;
    letter-spacing: -0.0415625em;
    line-height: 1.25;
    margin: 3.5rem 0 2rem;
}
/*********** end home *********/

/*********** utility *********/
.reduce-top-margin{
    margin-top: -1.8em;
}
/*********** end utility *********/